#root{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
table {
    border-collapse: collapse;
    table-layout: fixed; width: 100%;
}

table thead tr td{
    font-size: large;
    font-weight: bold;
    color: brown;
}

table tbody tr td{
    border: 1px solid black;
    padding: 10px;
    word-wrap: break-word;
    font-weight: bold;
}